/* External CSS styles */
body {
    background-color: black;
    color: white; /* Set text color to white or another contrasting color */
}

.container {
    background-image: url('Faker.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    color: white; 
    padding: 20px; 
    padding-bottom:200px; 
    margin: 0;
}

@media (max-width: 400px) {
    .container {
        background-size: auto 100%; /* Adjust the dimensions for smaller screens */
    }
}

h1, h2, h5 {
    font-size: 13.5px; /* Set the desired font size */
    font-weight: bold; /* Remove any bold styling */
}

.custom-hr {
    width: 35%; 
    border: none; 
    border-top: 1px solid white; 
    margin: 20px 0 auto; 
}

.title {
    font-size: 50px;
}

.return-link {
    text-decoration: none;
    color: blue;
}

.custom-table {
    border-collapse: collapse;
    width: 60%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width to prevent stretching */
}

.custom-table th, .custom-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
