/* External CSS styles */

.container {
    background-image: url('Faker.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    color: white; 
    padding: 20px; 
    margin: 0;
}

@media (max-width: 789px) {
    .container {
        background-size: auto 100%; /* Adjust the dimensions for smaller screens */
    }
}

.custom-hr {
    width: 50%; 
    border: none; 
    border-top: 1px solid white; 
    margin: 20px 0 auto; 
}

.title {
    font-size: 50px;
}

.return-link {
    text-decoration: none;
    color: blue;
}

.custom-table {
    border-collapse: collapse;
    width: 60%; /* Adjust the width as needed */
    max-width: 500px; /* Set a maximum width to prevent stretching */
}

.custom-table th, .custom-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
