/* External CSS styles */

/* CSS for desktop title (hidden on mobile) */
.title {
    font-size: 50px;
}

/* CSS for mobile title (hidden by default) */
.mobile-title {
    display: none;
}

body {
    background-color: black;
    color: white; /* Set text color to white or another contrasting color */
}

.container {
    background-image: url('Faker.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    color: white; 
    padding: 20px; 
    height:1000px; 
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        background-image: url('fakermobile.jpg'); 
        background-size: contain;
        background-position-y:35%;
        background-attachment: fixed;
    }
    .title {
        display: none;
    }

    .mobile-title {
        display: block;
        font-size: 8vw; /* Adjust font size for mobile title */
    }
}

.title {
    position: relative;
    width: 100;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: slideAndFadeText 2s linear forwards; /* Adjust the duration as needed */
}

@keyframes slideAndFadeText {
    0% {
        opacity: .5;
        margin-left: -5%;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

h1, h2, h5 {
    font-size: 13.5px; /* Set the desired font size */
    font-weight: bold; /* Remove any bold styling */
}

.custom-hr {
    width: 0; 
    border: none; 
    border-top: 1px solid white; 
    margin: 20px 0 auto; 
    animation: growWidth 2s ease-out forwards;
}

@keyframes growWidth {
    from {
        width: 0;
        opacity:0;
    }
    to {
        width: 35%; /* Adjust to the desired width */
        opacity:1;
    }
}

.title {
    font-size: 50px;
}

.return-link {
    text-decoration: none;
    color: blue;
}

.custom-table {
    border-collapse: collapse;
    width: 60%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width to prevent stretching */
}

.custom-table th, .custom-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
