html {
    scroll-behavior: smooth;
  }

body {
    background-color: black;
    color: white; /* Set text color to white or another contrasting color */
}

.container {
    background-image: url('Smash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    height:2200px;
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        background-size: contain; /* Change background size for smaller screens */
        background-attachment: fixed;
    }
}

.slide-in-bottom {
    opacity: 0;
    margin-top: 100%;
    animation: slideFromBottom 3s forwards;
    animation-delay: .5s;
  }
  
  @keyframes slideFromBottom {
    0% {
      opacity: 0;
      margin-top: 25%;
    }
    100% {
      opacity: 1;
      margin-top: 1.5%;
    }
  }
  
.right-align {
    float: right;
    margin-left: 10px;
}

.image-size {
    width: 500px;
    height: auto;
}

.custom-hr {
    width: 0%;
    border: none;
    border-top: 1px solid white;
    margin: 20px 0 auto;
    animation: growWidth 2s ease-out forwards;
}

@keyframes growWidth {
    from {
        width: 0;
    }
    to {
        width: 50%; /* Adjust to the desired width */
    }
}

.title {
    font-size: 50px;
}

/* External CSS styles */

.return-link {
    text-decoration: none;
    color: blue;
}

.title {
    font-size: 50px;
}


.custom-hr {
    width: 50%;
    border: none;
    border-top: 1px solid white;
    margin: 20px 0 auto;
}

.achievement-list {
    list-style: none;
}

.medal-icon {
    width: 17px;
    height: 17px;
    vertical-align: top;
    margin-right: 5px;
}

.favorite-player-label {
    font-weight: bold;
}

.favorite-player-input {
    width: 200px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2f6fdd;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
  }
  
  .button:hover {background-color: #69a1ef}
  
  .button:active {
    background-color: #03307c;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }
