body {
    color: green
    text-align:center;
}

p,
li.happy {
    color: red;
    font-size: 60px;
}

body div .content {
    border: 2px solid hotpink;
    marginL 50px;
}

.content {
    border: 2px solid hotpink;
}